////////////////////////////////////////////////////////////////////
/* ----------------------- PAGE DEMARCHES ----------------------- */
////////////////////////////////////////////////////////////////////

#demarches {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.etape {
    background-color: $color_quaternary;
    display: flex;
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    };
    & .point__num--demarches {
        height: 40px;
        min-width: 50px;
        margin-right:  30px;
        margin-left:   30px;
        margin-top:    auto;
        margin-bottom: auto;
        @media screen and (max-width: 768px) {
            margin-top: 40px;
        };
        @media screen and (max-width: 425px) {
            padding-left:  0px;
            padding-right: 0px;
            padding-top:   12px;
            height: 33px;
        };
    }
    &--texte {
        text-align: left;
        margin-right: 20px;
        width: 100%;
        @media screen and (max-width: 768px) {
            width: 90%;
            text-align: center;
            margin-left:  auto;
            margin-right: auto;
        };
    }
    & a {
        color: $color_secondary;
        &:hover {
            color: $color_tertiary;
            cursor: pointer;
        }
    }
    & figure {
        width: 20%;
        max-height: 100%;
        height: auto;
        margin: 0;
        @media screen and (max-width: 768px) {
            display: none;
        };
    }
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0px 40px 40px 0px;
    }
}