///////////////////////////////////////////////////////////////////////////////
/* -------------------------------- PAGE MAM ------------------------------- */
///////////////////////////////////////////////////////////////////////////////

#mam {
    width: 90%;
    margin-left:  auto;
    margin-right: auto;
    & h1 {
        margin-bottom: 60px;
    }
    & .bloc {
        background-color: $color_quaternary;
        margin-bottom: 60px;
        @media screen and (max-width: 768px) {
            margin-bottom: 100px;
        };
        @media screen and (max-width: 425px) {
            margin-bottom: 40px;
        };
    }
    & .texte {
        width: 90%;
        margin-left:  auto;
        margin-right: auto;
    }
    & figure {
        height: 100px;
        position: absolute;
        margin-top: -110px;
        margin-left: -2%;
        @media screen and (max-width: 768px) {
            right: 0%;
        };
        @media screen and (max-width: 425px) {
            height: 70px;
            margin-top: -70px;
        };
    }
    & img {
        height: 100%;
    }
    @media screen and (min-width: 426px) and (max-width: 768px) {
        & #mam-r {
            margin-top: -180px;
        }
        & #mam-g {
            margin-top: -230px;
        }
    };
}