////////////////////////////////////////////////////////////////////
/* -------------------- BANDEAU PRESENTATION -------------------- */
////////////////////////////////////////////////////////////////////

.presentation { /* Bandeau entier */
    height: auto;
    background-color: $color_quaternary;
    margin-top: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0px 0px 15px -5px rgb(158, 158, 158);
}

.cartes { /* Bloc contenant l'ensemble des cartes personne */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    &__perso { /* Cartes personne */
        text-align: center;
        width: 28%;
        padding-bottom: 40px;
        background-color: transparentize($color: $color_secondary, $amount: 0.8);
        @media screen and (max-width: 768px) {
            width: 60%;
            margin-left:  20%;
            margin-right: 20%;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 425px) {
            width: 80%;
            margin-left:  10%;
            margin-right: 10%;
        }
        & figure {
            width: 150px;
            height: auto;
            padding: 10px;
            margin-left:  auto;
            margin-right: auto;
        }
        & img {
            width: 150px;
            border-radius: 10px;
        }
        & p {
            font-weight: lighter;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

#bienvenue-galipette { /* Logo Girafe */
    position: absolute;
    width: 100px;
    right: 30px;
    margin-top: -80px;
    @media screen and (max-width: 768px) {
        right: 20px;
        margin-top: -30px;
    }
    @media screen and (max-width: 425px) {
        width: 70px;
        right: 30px;
        margin-top: -50px;
    }
}