//////////////////////////////////////////////////////////
/* -------------------- ANIMATIONS -------------------- */
//////////////////////////////////////////////////////////

/* ---------- Header ---------- */

// Survol des éléments du nav
.menu-primaire{
    transition: all 500ms;
    &:hover, &:active {
        color: black;
        border-top: 2px solid $color_secondary;
        cursor: pointer;
        & .head_liste__secondaire {
            display: inline-block;
            position: relative;
            top:   25px;
            right: 34%;
            padding: 0px;
            @media screen and (max-width: 768px) {
                right: 0;
            }
            @media screen and (max-width: 425px) {
                position: absolute;
                top: 70px;
            }
        }
    }
}

.menu-secondaire {
    transition: all 500ms;
    &:hover, &:active {
        background-color: rgb(80, 181, 135);
        & a {
            color: black;
        }
    }
}

// Menu déroulant 

.menu-secondaire{
    animation-name:         menu;
    -webkit-animation-name: menu;
    -moz-animation-name:    menu;

    animation-duration:         500ms;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration:    500ms;

    animation-fill-mode:         both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode:    both;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay:         100ms * $i;
            -webkit-animation-delay: 100ms * $i;
            -moz-animation-delay:    100ms * $i;
        }
    }
}

@keyframes menu {
    0% {
        transform:         translate3d(0,10px,0);
        opacity: 0;
    }
    100% {
        transform:         translate3d(0,10px,0);
        opacity: 1;
    }
}

@-webkit-keyframes menu {
    0% {
        -webkit-transform: translate3d(0,10px,0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0,10px,0);
        opacity: 1;
    }
}

@-moz-keyframes menu {
    0% {
        -moz-transform:    translate3d(0,10px,0);
        opacity: 0;
    }
    100% {
        -moz-transform:    translate3d(0,10px,0);
        opacity: 1;
    }
}

/* ---------- Bandeau nous rejoindre ---------- */

.point:hover{
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
    background-color: transparentize($color: $color_quaternary, $amount: 0.6);
    box-shadow: 5px 5px 15px -5px rgb(158, 158, 158);
}

/* ---------- Footer ---------- */

footer a:hover {
    & i {
        color: $color_tertiary;
    }
    & p {
        color: black;
    }
}
