//////////////////////////////////////////////////////////
/* -------------------- ANIMATIONS -------------------- */
//////////////////////////////////////////////////////////

/* ---------- Header ---------- */

// Survol des éléments du nav
.menu-primaire{
    transition: all 500ms;
    &:hover, &:active {
        color: black;
        border-top: 2px solid $color_secondary;
        cursor: pointer;
        & .head_liste__secondaire {
            display: inline-block;
            position: relative;
            top:   25px;
            right: 34%;
            padding: 0px;
            @media screen and (max-width: 768px) {
                right: 0;
            }
            @media screen and (max-width: 425px) {
                position: absolute;
                top: 70px;
            }
        }
    }
}

.menu-secondaire {
    transition: all 500ms;
    &:hover, &:active {
        background-color: rgb(80, 181, 135);
        & a {
            color: black;
        }
    }
}

// Menu déroulant 

.menu-secondaire{
    animation: menu 500ms both;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 100ms * $i;
        }
    }
}

@keyframes menu {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* ---------- Bandeau nous rejoindre ---------- */

.point:hover{
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
    background-color: transparentize($color: $color_quaternary, $amount: 0.6);
    box-shadow: 5px 5px 15px -5px rgb(158, 158, 158);
}

/* ---------- Carousel Page MAM ---------- */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

/* ---------- Footer ---------- */

footer a:hover {
    & i {
        color: $color_tertiary;
    }
    & p {
        color: black;
    }
}
